!!!
%html{lang: 'ja'}
  %head
    %meta(charset='utf-8')
    %title シングルページレイアウト
    %link(href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet")
    %link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
    = stylesheet_link_tag 'normalize', 'style'

    %body
      %header.header
        %p.site-title-sub Web designer's portfolio
        %h1.site-title HI, MY NAME IS...
        %p.site-description Check out some of my works.

        .buttons
          %a(class='button' href='#about')LEARN MORE
          %a(class='button-showy' href='#contact')SEND MESSAGE

      = yield

      %footer.footer
        © sample site

      = javascript_include_tag 'placeholders.min'
