%section.item.item-maindish
  %a(href='#')
    %img(class='image' src='images/image_S_1.jpg' alt='メインディッシュ')
    .category MAIN DISH
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%section.item.item-appetizer
  %a(href='#')
    %img(class='image' src='images/image_S_2.jpg' alt='前菜')
    .category APPETIZER
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.

%section.item.item-column
  %a(href='#')
    %img(class='image' src='images/image_S_3.jpg' alt='コラム')
    .category COLUMN
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%section.item.item-breaktime
  %a(href='#')
    %img(class='image' src='images/image_S_4.jpg' alt='おやつの時間')
    .category BREAK TIME
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.

%section.item.item-maindish
  %a(href='#')
    %img(class='image' src='images/image_S_5.jpg' alt='メインディッシュ')
    .category MAIN DISH
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%section.item.item-column
  %a(href='#')
    %img(class='image' src='images/image_S_6.jpg' alt='コラム')
    .category COLUMN
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%section.item.item-breaktime
  %a(href='#')
    %img(class='image' src='images/image_S_7.jpg' alt='おやつの時間')
    .category BREAK TIME
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.

%section.item.item-appetizer
  %a(href='#')
    %img(class='image' src='images/image_S_8.jpg' alt='前菜')
    .category APPETIZER
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.

%section.item.item-maindish
  %a(href='#')
    %img(class='image' src='images/image_S_9.jpg' alt='メインディッシュ')
    .category MAIN DISH
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%section.item.item-column
  %a(href='#')
    %img(class='image' src='images/image_S_10.jpg' alt='コラム')
    .category COLUMN
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

%script(src='http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js')
%script
  new Masonry('body', {itemSelector: '.item', columnWidth: 180, gutter: 4})
