!!!
%html
  %head
    %meta(charset='utf-8')
    %title スタンダードレイアウト
    = stylesheet_link_tag 'reset', 'style'

  %body
    %header.header
      %h1.logo
        %a(href='/') SAMPLE SITE
      %nav.global-nav
        %ul
          %li.nav-item.active
            %a(href='#') HOME
          %li.nav-item
            %a(href='#') ABOUT
          %li.nav-item
            %a(href='#') NEWS
          %li.nav-item
            %a(href='#') TOPICS
          %li.nav-item
            %a(href='#') DOGS
          %li.nav-item
            %a(href='#') BLOG

    .wrapper.clearfix
      %main.main
        = yield
      .sidemenu

    %footer.footer
