!!!
%html
  %head
    %meta(charset='utf-8')
    %title スタンダードレイアウト
    = stylesheet_link_tag 'reset', 'style'

  %body
    %header.header
      %h1.logo
        %a(href='/') SAMPLE SITE
      %nav.global-nav
        %ul
          %li.nav-item.active
            %a(href='#') HOME
          %li.nav-item
            %a(href='#') ABOUT
          %li.nav-item
            %a(href='#') NEWS
          %li.nav-item
            %a(href='#') TOPICS
          %li.nav-item
            %a(href='#') DOGS
          %li.nav-item
            %a(href='#') BLOG

    .wrapper.clearfix
      %main.main
        = yield
      .sidemenu
        %h2.heading RANKING
        %ol.ranking
          %li.ranking-item
            %a(href='#')
              %img(class='image' src='./images/ranking.jpg' alt='グラフの画像')
              %span.order
              %p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
          %li.ranking-item
            %a(href='#')
              %img(class='image' src='./images/ranking.jpg' alt='グラフの画像')
              %span.order
              %p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
          %li.ranking-item
            %a(href='#')
              %img(class='image' src='./images/ranking.jpg' alt='グラフの画像')
              %span.order
              %p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
          %li.ranking-item
            %a(href='#')
              %img(class='image' src='./images/ranking.jpg' alt='グラフの画像')
              %span.order
              %p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう

    %footer.footer
