%section.about#about
  %h2.heading ABOUT ME
  %p.about-text
    はじめまして。最近は家でじっとしています。
    %br
    なんとなくコーディングの練習をはじめました。

  %p.about-text
    このサイトは「HTML/CSS モダンコーディング」という書籍のサンプルとして作られた、架空のWebデザイナーのポートフォリオサイトです。
    %br
    このサンプルのようなサイトをいちから作る過程を通して、HTMLとCSSの実践的なコーディングノウハウを学ぶことができます。

%section.works
%section.skills
%section.contact#contact
